

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
	}

		#header .container
		{
			position: relative;
			padding: 4em 0em;
		}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		left: 0em;
		top: 1em;
	}
	
		#logo h1
		{
			color: #ffffff;
		}
	
		#logo a
		{
			display: block;
			text-decoration: none;
			font-size: 2em;
			font-weight: 300;
			color: #ffffff;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		right: 0em;
		top: 1em;
                color: #000000;
	}


/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		padding: 2em 0em 1em 0em;
           color: #000000;
	}

/*********************************************************************************/
/* Marketing                                                                     */
/*********************************************************************************/

	#marketing
	{
		padding: 0em 0em;
	}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		padding: 2em 0em;
	}
	
